:root {
  --DarkBgColor: #1b1f27;
  --DarkAreaBgColor: #181920;
  --DarkInputBgColor: #252a34;

  --DarkPrimaryColor: #cbd0f7;
  --DarkSecondaryColor: #94051f;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: var(--DarkBgColor);
  color: var(--DarkPrimaryColor);
}

.area {
  margin: 32px;
}

.area input {
  background-color: var(--DarkInputBgColor);
  color: var(--DarkPrimaryColor);
  font-size: 14px;
  padding-left: 10px;
  border: none;
  height: 45px;
  outline: none;
  border-radius: 8px;
}

.area input::placeholder {
  color: var(--DarkPrimaryColor);
}
