{% extends 'usuariobase.html' %}

{% block 'head' %}
{% endblock %}

{% block 'titulo' %}
    Cadastro
{% endblock%}

{% block 'conteudo' %}


<section class="container">

    <div class="area cadastro">
    

        {% if status == '1'%}

            <div>
                <strong>Erro!</strong> {{mensagem}}
            </div>
            
        {% endif %}

        <h1>Cadastre-se</h1>
      
        <form method="post" action="{% url 'cadastrar' %}"> {% csrf_token %}

            <input type="text" placeholder="Nome..." id="nome" name="nome">

            <input type="email" placeholder="E-mail..." id="email" name="email">

            <input type="password" placeholder="Senha..." id="senha" name="senha">

            <input type="submit" value="Cadastrar">

            
        </form>
        
        <p>Já possui conta? Faça <a href="{% url 'login' %}" >login</a></p>
        
        <p>Voltar para o <a href="{% url 'inicio' %}" >Início</a></p>

    </div>


</section>
{% endblock%}