{% extends 'usuariobase.html' %}

{% block 'head' %}
{% endblock%}

{% block 'titulo' %}
    Login
{% endblock%}

{% block 'conteudo' %}

<section class="container">

    <div class="area login">

        <div>
            <h1>Entrar</h1>
        </div>

        {% if status == '1'%}
            <div>
                <strong>Erro!</strong> {{mensagem}}
            </div>    
        {% endif %}

        <form method="POST" action="{% url 'entrar' %}"> {% csrf_token %}

            <input type="email" placeholder="E-mail..." id="email" name="email" autofocus>

            <input type="password" placeholder="Senha..." id="senha" name="senha">

            <input type="submit" value="entrar">
            
            
        </form>
        
        <P>Ainda não tem uma conta? <a href="{% url 'cadastro' %}">Cadastrar</a></P>
        
        <p>Voltar para o <a href="{% url 'inicio' %}" >Início</a></p>
        
    </div>


</section>

{% endblock %}