.area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.area h1,
.area p {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.groupbtn {
  margin: 5px;
  justify-content: start;
}

.destacado {
  background-color: var(--DarkSecondaryColor);
}
