{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'livro/css/detalhes_livro.css' %}">
{% endblock %}

{% block 'titulo' %}
    Estoques
{% endblock %}

{% block 'conteudo' %}

<main class="area">

    <h1>Estoques</h1>
    <table>
        <thead>
          <tr>
            <th>Título</th>
            <th>Autor</th>
            <th>Editora</th>
            <th>ISBN</th>
            <th>Categoria</th>
            <th>Quantidade</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          {% for livro in livros %}
          <tr>
            <td>{{ livro.titulo }}</td>
            <td>{{ livro.autor }}</td>
            <td>{{ livro.editora }}</td>
            <td>{{ livro.isbn }}</td>
            <td>{{ livro.categoria }}</td>
            <td>{{ livro.quantidade }}</td>
            <td>
              <a class="login" href="{% url 'cadastrarLivro' livro.id %}">Editar</a>
              <a class="cadastro" href="{% url 'apagar' livro.id %}">Excluir</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      
   
   
</main>

{% endblock%}